[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-callkey
Exec=harbour-callkey
Name=CallKey

[X-Sailjail]
OrganizationName=cz.chrastecky
ApplicationName=CallKey
Permissions=Internet;Secrets
